{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
{{super()}}
    <div ng-app = "web2" ng-controller = "registerController" class = "form-group">
      <form ng-submit="submit()"  id="register">
        <br>  
        Full Name: <input type="text" ng-model="name"><br><br>
        
        E-mail: <input type="text" ng-model="email"><br><br>

        Password: <input type="password" ng-model="password"><br><br>

        Age: <input type="number" ng-model="age"><br><br>

        Gender: 
            Male: <input type="radio" name ="gender" value="male" ng-model="gender"><br>
            Female: <input type="radio" name ="gender" value="female" ng-model="gender"><br><br>
        
        <input type="submit" value="Send" id="submit">
     	 
      </form>
    </div>
{% endblock %}